.contact-container{

    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    position: absolute;


    
}

@media (max-width: 700px) {
    .contact-container{
        justify-content: center;
        gap: 10%;
        margin-left: 20px;
    }
}

.image-container{
    border: 2px black solid;
    border-top: 0px;
    display: inline-block;
    width: 45px;
    height: 45px;
    transition: padding-top 0.5s;
    padding: 5px;

}



.image-container:hover{
    padding-top: 20px;
}

.image{
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    padding: 5px;
}

.additional-contacts{
    display: inline-block;
}
