.nav-wrapper{
    position: sticky;
    top: 40px;
    margin-top: 50px;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

@media  (max-width: 700px) {
    .nav-wrapper{
        width: auto;
        display: none;
        overflow: hidden;
    }
    
}

.nav-wrapper > a{
    margin-right: 50px;
}

.nav-container{


    border: 2px solid black;
    border-left: 0px;

    padding: 20px 10px 20px 10px;
    text-align: center;

    border-radius: 0px 20px 20px 0px;
    transition: all 0.5s;
    margin-bottom: 20px;



}

.nav-container:hover{
    padding-right: 20px;

}

.nav-container > p {
    margin: 0;
}



