.heading-container{
    padding-bottom: 50px;
}

.contacts-and-menu{

    margin: 0px 20px 0px 20px;
}

.menu-button{

    height: 100%;
    width: 100%;

    border: 2px solid black;
    border-top: 0px;
    position: fixed;

    background-color: blue;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 700px) {
    .menu-button{
        width: auto;
        display: none;
        overflow: hidden;
    }
}

.menu-is-elon{

    color: blue;

}

.menu-item{
    text-align: start;
    list-style: none;
    border-top: 2px solid black;
    padding: 3px;
    transition: all 0.5s ease-in-out;
}





.title-container{

    font-family: 'Fira Code', monospace;
    border: 2px solid black;
    border-top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.title-wrapper{
    display: inline;
    text-align: start;
    padding: 10px;
}

.name{
    font-size: 40px;
    color: black;
    margin: 0px 0px -20px 0px;
    padding-top: 10px;

    
}

.tagline{
    font-size: 16px;
    color: grey;
    padding: 0;
    padding-bottom: 10px;    
    margin: 0;
    letter-spacing: 0.2px;
}

.heading-tagline{
    margin-top: 100px;
    padding: 0px 10px 20px 10px ;

}

.highlight-row{
    display: flex;
    flex-wrap: wrap;
}

.highlight-column{
    border: 2px solid black;
    padding: 2px 20px 2px 20px;
    margin: 10px 10px 10px 10px;
    transition: all 0.5s ease-in-out;
}

.highlight-column:hover{
    border-radius: 10px;
    transform: scale(0.985);

}


