@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Fira+Code:wght@600&display=swap');

body, html {
  font-family: "ABeeZee", sans-serif;

}

a{
  text-decoration: none;
  color: black;

}
.bigdiv{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  

  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 10%;


  
  background-color: white;



}
.big-container{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  border: 2px solid black;
  width: 85%;
  float: left;


}


.inner-container{
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 700px) {
  .nav-wrapper{
    visibility: hidden;
   
  }
  .bigdiv{
    margin: 0%;
    margin-bottom: 60px;
  }
  .big-container{
    border: 0;
    padding: 0px;
    width: auto;
  }
  .inner-container{
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media screen and (min-width:1400px) {
    .bigdiv{
      margin-left: 15%;
      margin-right: 15%;
    }
}


